# 10. Model Inference

saya mencoba melakukan inferencing dengan memasukkan nilai yang saya coba buat.

## import library

In [1]:
import pickle
import json
import pandas as pd
import numpy as np

memasukkan library yang akan digunakan.

## load model

In [2]:
with open('model_lin_reg.pkl', 'rb') as file_1:
  model_lin_reg = pickle.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  model_scaler = pickle.load(file_2)

with open('model_encoder.pkl','rb') as file_3:
  model_encoder = pickle.load(file_3)

with open('list_num_cols.txt', 'r') as file_4:
  list_num_cols = json.load(file_4)

with open('list_cat_cols.txt', 'r') as file_5:
  list_cat_cols = json.load(file_5)

load semua data yang diperlukan untuk keperluan inferencing

## inferencing

saya mencoba membuat data dummy untuk memperkirakan berapa harga yang akan didapatkan.

In [3]:
data_inf = {
    "hour" : 12, 
    "distance": 3, 
    "surge_multiplier": 1,
    "source": 'West End', 
    "destination": 'North End', 
    "cab_type": 'Uber', 
    "name": 'UberX', 
    "short_summary": ' Rain '
}

data_inf = pd.DataFrame([data_inf])
data_inf

,hour,distance,surge_multiplier,source,destination,cab_type,name,short_summary
0,12,3,1,West End,North End,Uber,UberX,Rain

In [4]:
# Split between Numerical Columns and Categorical Columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]
data_inf_cat

     source destination cab_type   name short_summary  hour
0  West End   North End     Uber  UberX         Rain     12

In [5]:
# Feature Scaling and Feature Encoding

data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_encoder.transform(data_inf_cat).toarray()
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis=1)

In [6]:
# Predict using Linear Regression

y_pred_inf = model_lin_reg.predict(data_inf_final)
y_pred_inf

array([12.15551758])

ternyata, harga yang didapatkan kurang lebih 12,2 $ dengan MAE 1,8.