# model inference

saya mencoba melakukan inferencing dengan memasukkan nilai yang saya coba buat.

## import library

In [3]:
import pickle
import json
import pandas as pd
import numpy as np

memasukkan library yang akan digunakan.

## load model

load semua data yang diperlukan untuk keperluan inferencing

In [5]:
with open('log_reg.pkl', 'rb') as file_1:
  model_log_reg = pickle.load(file_1)

with open('SVC.pkl', 'rb') as file_2:
  svc_linear_3 = pickle.load(file_2)

with open('model_scaler.pkl', 'rb') as file_3:
  model_scaler = pickle.load(file_3)

with open('model_encoder.pkl','rb') as file_4:
  model_encoder = pickle.load(file_4)

with open('list_num_cols.txt', 'r') as file_5:
  list_num_cols = json.load(file_5)

with open('list_cat_cols.txt', 'r') as file_6:
  list_cat_cols = json.load(file_6)

## inferencing

saya mencoba membuat data dummy untuk memperkirakan berapa harga yang akan didapatkan.

In [22]:
data_inf = {
    'age' : 20, 
    'workclass' :' Local-gov', 
    'education': ' HS-grad' , 
    'education_num': 9, 
    'marital_status': ' Married-civ-spouse', 
    'occupation': ' Tech-support', 
    'relationship': ' Other-relative', 
    'race': ' Asian-Pac-Islander', 
    'sex': ' Male', 
    'capital_gain': 0, 
    'capital_loss': 0, 
    'hours_per_week': 40, 
    'native_country': ' Japan'
}

data_inf = pd.DataFrame([data_inf])
data_inf

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,20,Local-gov,HS-grad,9,Married-civ-spouse,Tech-support,Other-relative,Asian-Pac-Islander,Male,0,0,40,Japan

In [23]:
# Split between Numerical Columns and Categorical Columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]
data_inf_cat

,workclass,marital_status,occupation,relationship,race,sex,native_country
0,Local-gov,Married-civ-spouse,Tech-support,Other-relative,Asian-Pac-Islander,Male,Japan

In [24]:
# Feature Scaling and Feature Encoding

data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_encoder.transform(data_inf_cat).toarray()
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis=1)

In [26]:
# Predict using Linear Regression

y_pred_inf_1 = model_log_reg.predict(data_inf_final)
y_pred_inf_1

array([' <=50K'], dtype=object)

ternyata, setelah dilakukan pengujian dengan model `logistik regresi` didapatkan hasil dengan kelompok ` <=50k` dengan tingkat akurasi sebesar `0,89`.

In [27]:
y_pred_inf_2 = svc_linear_3.predict(data_inf_final)
y_pred_inf_2

array([' <=50K'], dtype=object)

ternyata, setelah dilakukan pengujian dengan model `SVM` didapatkan hasil dengan kelompok ` <=50k` dengan tingkat akurasi sebesar `0,90`.