# 10- Model Inference

saya mencoba melakukan inferencing dengan memasukkan nilai yang saya coba buat.

## import library

In [2]:
import pickle
import json
import pandas as pd
import numpy as np

## load model

In [3]:
# loding model 

with open('pca.pkl', 'rb') as file_1:
  pca = pickle.load(file_1)

with open('kmeans_base.pkl', 'rb') as file_2:
  kmeans = pickle.load(file_2)

with open('scaler.pkl', 'rb') as file_3:
  scaler = pickle.load(file_3)

with open('scaler_2.pkl', 'rb') as file_4:
  scaler_2 = pickle.load(file_4)

with open('list_num_cols_1.txt', 'r') as file_5:
  df_normal = json.load(file_5)

with open('list_num_cols_2.txt', 'r') as file_6:
  df_skew = json.load(file_6)

load semua data yang diperlukan untuk keperluan inferencing

In [4]:
# Create New Data

data_inf = {
'BALANCE': 2196.006333, 
'BALANCE_FREQUENCY': 0.818182, 
'PURCHASES': 200.00, 
'ONEOFF_PURCHASES': 2588.53,
'INSTALLMENTS_PURCHASES': 0.00, 
'CASH_ADVANCE': 201.404735, 
'PURCHASES_FREQUENCY': 0.083333,
'ONEOFF_PURCHASES_FREQUENCY': 0.083333, 
'PURCHASES_INSTALLMENTS_FREQUENCY': 0.083333,
'CASH_ADVANCE_FREQUENCY': 0.250000, 
'CASH_ADVANCE_TRX': 4, 
'PURCHASES_TRX': 12,
'CREDIT_LIMIT': 6500.0, 
'PAYMENTS': 1781.472773, 
'MINIMUM_PAYMENTS': 280.724848, 
'PRC_FULL_PAYMENT': 0.100000,
'TENURE': 12
}

data_inf = pd.DataFrame([data_inf])
data_inf

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,2196.006333,0.818182,200.0,2588.53,0.0,201.404735,0.083333,0.083333,0.083333,0.25,4,12,6500.0,1781.472773,280.724848,0.1,12

In [7]:
# Memisahkan data_inf berdasarkan jenis datanya untuk keperluan normalisasi dan encoding

data_inf_norm = data_inf[df_normal]
data_inf_skew = data_inf[df_skew]

In [8]:
# Melakukan normalisasi (feature scaling) data_inf_norm & data_inf_skew

data_inf_norm_scaled = scaler.transform(data_inf_norm)
data_inf_skew_scaled = scaler_2.transform(data_inf_skew)

In [11]:
data_inf_final = np.concatenate([data_inf_norm_scaled, data_inf_skew_scaled], axis=1)

In [12]:
data_inf_scaled_pca = pca.transform(data_inf_final)

In [13]:
# Predict using Kmeans

y_pred_inf = kmeans.predict(data_inf_scaled_pca)
y_pred_inf

array([0], dtype=int32)

didapati bahwa data inference nya masuk pada label 0