# Model Inference

saya mencoba melakukan inferencing dengan memasukkan nilai yang saya coba buat.

## import library

In [1]:
import pickle
import json
import pandas as pd
import numpy as np

memasukkan library yang akan digunakan.

## load model

In [6]:
with open('SVC.pkl', 'rb') as file_1:
  SVC_best = pickle.load(file_1)

with open('model_scaler.pkl', 'rb') as file_2:
  model_scaler = pickle.load(file_2)

with open('model_encoder.pkl','rb') as file_3:
  model_encoder = pickle.load(file_3)

with open('model_encoder_2.pkl','rb') as file_3:
  model_encoder_2 = pickle.load(file_3)

with open('list_num_cols.txt', 'r') as file_5:
  list_num_cols = json.load(file_5)

with open('list_cat_cols_OHE.txt', 'r') as file_6:
  X_cat_OHE = json.load(file_6)

with open('list_cat_cols_OE.txt', 'r') as file_7:
  X_cat_OE = json.load(file_7)

load semua data yang diperlukan untuk keperluan inferencing

## inferencing

In [7]:
data_inf = {
'limit_balance' : 100000.0, 
'education_level': 3, 
'age': 50, 
'bill_amt_1':110558.0, 
'bill_amt_2': 100558.0, 
'bill_amt_3': 90558.0, 
'bill_amt_4': 80558.0, 
'bill_amt_5': 70558.0, 
'bill_amt_6': 60558.0, 
'pay_amt_1': 10000, 
'pay_amt_2': 10000, 
'pay_amt_3': 10000, 
'pay_amt_4': 10000, 
'pay_amt_5': 10000, 
'pay_amt_6': 10000,
'sex': 1, 
'marital_status': 2,
'pay_0': 0, 
'pay_2': 0, 
'pay_3': 0, 
'pay_4': 0, 
'pay_5': 0, 
'pay_6': 0
}

data_inf = pd.DataFrame([data_inf])
data_inf

,limit_balance,education_level,age,bill_amt_1,bill_amt_2,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6,pay_amt_1,...,pay_amt_5,pay_amt_6,sex,marital_status,pay_0,pay_2,pay_3,pay_4,pay_5,pay_6
0,100000.0,3,50,110558.0,100558.0,90558.0,80558.0,70558.0,60558.0,10000,...,10000,10000,1,2,0,0,0,0,0,0

In [20]:
# Split between Numerical Columns and Categorical Columns

data_inf_num = data_inf[list_num_cols]
data_inf_cat_OHE = data_inf[X_cat_OHE]
data_inf_cat_OE = data_inf[X_cat_OE]
data_inf_cat_OE

   pay_0  pay_2  pay_3  pay_4  pay_5  pay_6
0      0      0      0      0      0      0

In [24]:
# Feature Scaling and Feature Encoding

data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_OHE_encoded = model_encoder.transform(data_inf_cat_OHE).toarray()
data_inf_cat_OE_encoded = model_encoder_2.transform(data_inf_cat_OE)
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_OHE_encoded, data_inf_cat_OE_encoded], axis=1)

In [25]:
# Predict using Linear Regression

y_pred_inf = SVC_best.predict(data_inf_final)
y_pred_inf

array([0])

ternyata, dengan data `dummy` yang didapatkan. kemungkinan orang tersebut gagal bayar adalah tidak gagal membayar.