# Model Inference

saya mencoba melakukan inferencing dengan memasukkan nilai yang saya coba buat.

## import library

In [1]:
import pickle
import json
import pandas as pd
import numpy as np

memasukkan library yang akan digunakan.

## load model

In [8]:
with open('Adaboost.pkl', 'rb') as file_1:
  Ada_best = pickle.load(file_1)

with open('randomForest.pkl', 'rb') as file_2:
  rnd_best = pickle.load(file_2)

with open('model_scaler.pkl', 'rb') as file_3:
  model_scaler = pickle.load(file_3)

with open('model_encoder.pkl','rb') as file_4:
  model_encoder = pickle.load(file_4)

with open('list_num_cols.txt', 'r') as file_5:
  list_num_cols = json.load(file_5)

with open('list_cat_cols.txt', 'r') as file_6:
  list_cat_cols = json.load(file_6)

load semua data yang diperlukan untuk keperluan inferencing

In [5]:
# Create New Data

data_inf = {
    'age': 47,
    'anaemia': 0,
    'creatinine_phosphokinase': 106,
    'diabetes': 1,
    'ejection_fraction':  25,
    'high_blood_pressure': 0,
    'platelets': 150000,
    'serum_creatinine': 88,
    'serum_sodium': 161,
    'sex': 1,
    'smoking': 1,
    'time': 35,
    'death': 0
}

data_inf = pd.DataFrame([data_inf])
data_inf

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,death
0,47,0,106,1,25,0,150000,88,161,1,1,35,0

load semua data yang diperlukan untuk keperluan inferencing

In [9]:
data_inf_num = data_inf[list_num_cols]
data_inf_cat = data_inf[list_cat_cols]
data_inf_cat

   sex  diabetes  anaemia  high_blood_pressure  smoking
0    1         1        0                    0        1

In [10]:
# Feature Scaling and Feature Encoding

data_inf_num_scaled = model_scaler.transform(data_inf_num)
data_inf_cat_encoded = model_encoder.transform(data_inf_cat)
data_inf_final = np.concatenate([data_inf_num_scaled, data_inf_cat_encoded], axis=1)

In [11]:
# Predict using adaboost

y_pred_inf = Ada_best.predict(data_inf_final)
y_pred_inf

array([1])

In [12]:
# Predict using random forest

y_pred_inf_2 = rnd_best.predict(data_inf_final)
y_pred_inf_2

array([1])